<!DOCTYPE html>
<html>
<head>
	<title>Pneumonia Detection</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="gallery.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		      	</button>
				<a href="" class="navbar-brand"><span class="glyphicon glyphicon-picture" aria-hidden="true"> IMGS</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li><a href="">About</a></li>
					<li><a href="">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="">Signup</a></li>
					<li><a href="">Signin</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="jumbotron">
			<h1><i class="fa fa-camera-retro" aria-hidden="true"></i>  Pneumonia Detection</h1>
			<p>Now its too easy to Detect Pneumonia using your chest X-ray</p>
		</div>

		<div class="container">
			<h2><i aria-hidden="true"></i>  Upload X-ray</h2>
			<form method="POST" action='/pred' enctype="multipart/form-data">
				<input type="file" name="userfile">
				<input type="submit">
			</form>
		</div>

		{% if result%}
			
			<div class="col-lg-4 col-sm-6"><div class="thumbnail"><img src="{{result['image']}}"></div></div>
			<h3>Output is  : <i>{{result['detect']}}</i></h3>
		{% endif%}
		
	</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>